*.log
*.tmp
*.swp
node_modules/
AppData/
config.json
*.class
Anwendungsdaten/
Cookies/
Druckumgebung/
Eigene Dateien/
Lokale Einstellungen/
Netzwerkumgebung/
Recent/
SendTo/
Startmenü/
Vorlagen/
NTUSER.DAT
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
